### AL ###
#Template for AL projects for Dynamics 365 Business Central
#launch.json folder
#Cache folder
.alcache/
#Symbols folder
#Snapshots folder
#Testing Output folder
.output/
#Extension App-file
#Rapid Application Development File
#Translation Base-file
#License-file
*.flf
#Test results file
TestResults.xml